[submodule "playlist_be"]
	path = playlist_be
	url = https://github.com/Dev-Pepes/playlist_be.git
[submodule "playlist_fe"]
	path = playlist_fe
	url = https://github.com/Dev-Pepes/playlist_fe.git
[submodule "10duck-config"]
	path = 10duck-config
	url = https://github.com/Dev-Pepes/10duck-config.git
